@page "/Gallery"

@model PaletteAndPraise.Pages.GalleryModel

@{
    ViewData["Title"] = "Gallery";
}

<h1 class="title-font">Gallery</h1>

<!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="images/sample_art.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Boat on Calm Water" />

        <img src="images/sample_bible.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Wintry Mountain Landscape" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="images/sample_dance.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Mountains in the Clouds" />

        <img src="images/sample_journal.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Boat on Calm Water" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="images/sample_music.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Waves at Sea" />

        <img src="images/sample_reading.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Yosemite National Park" />
    </div>
</div>
<!-- Gallery -->

</div>
@{
}
