@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_HomeLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4 title-font">Palette & Praise</h1>
    <p>Welcome to Palette and Praise.</p>
    <img src="images/girl_in_church.jpg" class="img-fluid" style="max-height:800px;"/>
</div>